<launch>

    <node pkg="rico_human_detection" type="view_image.py" name="view_image" output="screen"
    />

    <node pkg="rico_human_detection" type="server_client.py" name="server_client" output="screen"
    />

    <!-- <node pkg="rico_human_detection" type="server_client_face.py" name="server_client" output="screen"
    /> -->


    <node pkg="rico_human_detection" type="depth.py" name="depth" output="screen"
    />

</launch>